.main-container-one {
    padding: 0 10% 0 10%;
}

.main-container-one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.main-container-one-text-inner > h1 {
    color: #000;
    font-family: Muli;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 116.667% */
}

.main-container-one-text-inner > p {
    color: #7d7987;
    font-family: Muli;
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px; /* 152.381% */
    padding-bottom: 25px;
}

.main-container-one-text-inner {
    position: absolute;
    width: 25%;
}

.button-primary-active {
    background-color: #458ff6;
    border-style: none;
    color: #fff;
    font-family: Muli;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    border-radius: 45px;
    padding: 0 50px 0 50px;
}
